<!DOCTYPE html>
<html>
<head>
	<title>Fomulario</title>
    <link rel="stylesheet" href="pagina/estilos.css">
</head>
<body>
<header class="header2">
   <div class="wraper">
        <div class="cheader">Login</div>
        <nav>
            <a href="">Inicio</a>
            <a href="">Acerca</a>
            <a href="">Login</a>
            <a href="">Otro</a>
    </nav>
   </div>   
</header>
<section>
    <p>AQUI Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum consequuntur iusto quo minima perspiciatis eos alias reprehenderit consectetur, incidunt soluta ipsum cum optio, dolore odit reiciendis rerum nulla facere.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum consequuntur iusto quo minima perspiciatis eos alias reprehenderit consectetur, incidunt soluta ipsum cum optio, dolore odit reiciendis rerum nulla facere.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum consequuntur iusto quo minima perspiciatis eos alias reprehenderit consectetur, incidunt soluta ipsum cum optio, dolore odit reiciendis rerum nulla facere.</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum consequuntur iusto quo minima perspiciatis eos alias reprehenderit consectetur, incidunt soluta ipsum cum optio, dolore odit reiciendis rerum nulla facere.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum consequuntur iusto quo minima perspiciatis eos alias reprehenderit consectetur, incidunt soluta ipsum cum optio, dolore odit reiciendis rerum nulla facere.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi earum consequuntur iusto quo minima perspiciatis eos alias reprehenderit consectetur, incidunt soluta ipsum cum optio, dolore odit reiciendis rerum nulla facere.</p>      
</section>
<div class="contenedor">
    <h2>Registro</h2>
        <form action="" class="formulario">
	        <input type="text" name="nombre" placeholder="&#128102; Ingrese Nombre" required class="input">
	        <input type="Date" name="fecha" required class="input">
	        <button type="submit" class="boton">Ingresar</button>
        </form>
</div>
<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corrupti natus! Dolore velit eos quam praesentium eius fugiat rerum laboriosam eveniet quo vitae, omnis ducimus pariatur, ratione fuga maiores dolor!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corrupti natus! Dolore velit eos quam praesentium eius fugiat rerum laboriosam eveniet quo vitae, omnis ducimus pariatur, ratione fuga maiores dolor!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corrupti natus! Dolore velit eos quam praesentium eius fugiat rerum laboriosam eveniet quo vitae, omnis ducimus pariatur, ratione fuga maiores dolor!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corrupti natus! Dolore velit eos quam praesentium eius fugiat rerum laboriosam eveniet quo vitae, omnis ducimus pariatur, ratione fuga maiores dolor!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corrupti natus! Dolore velit eos quam praesentium eius fugiat rerum laboriosam eveniet quo vitae, omnis ducimus pariatur, ratione fuga maiores dolor!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, corrupti natus! Dolore velit eos quam praesentium eius fugiat rerum laboriosam eveniet quo vitae, omnis ducimus pariatur, ratione fuga maiores dolor!</p>
    
</section>
</body>
</html>